[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rdiagnosislist"]
	path = Rdiagnosislist
	url = https://github.com/anoopshah/rdiagnosislist
